[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
medcoupling = "*"
numpy = "*"
meshio = "*"
h5py = "*"
lxml = "*"

[requires]
python_version = "3.6"
